[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CTNote"]
	path = CTNote
	url = https://github.com/ctn-0094/ctnote
[submodule "DOPE"]
	path = DOPE
	url = https://github.com/ctn-0094/dope
[submodule "public.ctn0094data"]
	path = public.ctn0094data
	url = https://github.com/ctn-0094/public.ctn0094data
[submodule "public.ctn0094extra"]
	path = public.ctn0094extra
	url = https://github.com/ctn-0094/public.ctn0094extra
